/* CONTEUDO PRINCIPAL */

main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* NOVO CAPÍTULO */

.new-chapter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 15%);

  margin: 30px;
  padding: 30px;

  background: darkblue;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-chapter h1 {
  padding: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  animation: bar 1s infinite alternate;
}

@keyframes bar {
  0% {
    border-bottom-width: 100%;
  }

  100% {
    border-bottom-width: 0%;
  }
}

.new-chapter input {
  width: 100%;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
}

.new-chapter textarea {
  width: 680px;
  height: 200px;
  outline: none;
  resize: none;
}

/* ERROR */

main .toast {
  display: block !important;
}
