@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* CONTEÚDO PRINCIPAL */

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  margin: 30px;
  padding: 30px;

  background: darkblue;
  border-radius: 10px;
}

main .content {
  /* word-wrap: break-word; */
  overflow-wrap: break-word;
}

main .manga p {
  color: #fff;
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
}

main .content pre {
  overflow-wrap: break-word;
  max-width: 100%;
  overflow: auto;
  color: #fff;
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
}

.acoes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button:not(.lr-group button) {
  padding: 10px 20px;
  border: none;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: background .3s ease;
}

button:hover:not(.lr-group button) {
  color: #00008b;
  background-color: #fff;
}

.show_more {
  text-align: center;
}

/* COMENTÁRIOS */

.comentarios-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comentarios-container p,
.comentarios-container span,
.comentarios-container h1 {
  color: #fff;
}

.comentarios-container .public-comment .send-message {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comentarios-container .public-comment .send-message textarea {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
  resize: none;
  overflow: hidden;
}

.comentarios-container .public-comment .send-message button {
  cursor: pointer;
  background: transparent;
  border: 1px solid #fff;
  height: 45px;
  transition: all .6s ease;
}

.comentarios-container .public-comment .send-message button:hover {
  color: #00008b;
  background-color: #fff;
}


.comentarios-container .public-comment .send-message textarea:disabled,
.comentarios-container .public-comment .send-message button[type='submit']:disabled {
  cursor: no-drop;
}

.comentarios-container .comments .info-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comentarios-container .comments p {
  letter-spacing: 1px;
}

.comentarios-container .comments .actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

/* BOTÃO DE VOLTAR */

.btn-voltar button {
  border-radius: 50%;
  border: none;
  background-color: #00008b !important;
  z-index: 20;
  position: fixed;
  font-size: 1.5em;
  bottom: 10%;
  left: 90%;
  cursor: pointer;
}

.btn-voltar button:hover {
  background-color: transparent !important;
}
