.first {
  left: 50%;
  transform: translateX(-50%);

  margin-top: 20px;

  background: #00008b;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(0, 0, 0, .6);
}

.modal .modal-body {
  max-height: 120px;
  overflow-y: auto;
}

.modal .modal-body .comment {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.top-35 {
  top: 35%;
}
