/* CONTEÚDO PRINCIPAL */

main {
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

/* CARDS */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background: darkblue;
  transition: all .6s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 70%;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  margin-top: 10px;
}

.card-img img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-content p {
  color: #fff;
}

.transparent-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transparent-p p {
  color: rgba(255, 255, 255, 0.5);
}

/* MODAL */
